# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-wordpress
bc-uk-territories-map.zip
wordpress/uk-territories-map/build
wordpress/bc-uk-territories-map/build
wordpress/bc-uk-territories-map/index.js
wordpress/bc-uk-territories-map/index.css
wordpress/bc-uk-territories-map/index.html
wordpress/bc-uk-territories-map/geojson
wordpress/bc-uk-territories-map/vite.svg
src/data/england.json
src/data/wales.json
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
